*{
    color: white;
    font-family: sans-serif;
    transition: 0.3s ease-in-out;
    user-select: none;
}

body{
    background-color:rgb(34, 33, 33);
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
}

.alinhar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trocaJogador{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr 1fr;
    position: relative;
}

.trocaJogador h3{
    margin: 0;
    grid-column-start: 1;
    grid-column-end:   3;
}

.trocaJogador .caixaTroca{
    border: 3px solid black;
    font-size: 1.6rem;
    font-weight: 700;
}

.trocaJogador .caixaTroca:nth-child(even){
    border-right: none;
}

.opcaoX{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: Indigo;
    z-index: -1;
}

.layoutJogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:    repeat(3, 1fr);
    height: 250px;
    width:  250px;
    margin: 30px auto;
    border: 2px solid black
}

.caixa{
    border: 2px solid black;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.caixa:hover{
    background-color:  Indigo;
}

#jogarNovamente{
    background-color: Indigo;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#jogarNovamente:hover{
    padding: 13px 35px;
    background-color: Purple;
    color: black;
}

#contador {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: Purple;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#contador p {
    margin: 0;
    font-size: 16px;
}

#contador span {
    font-weight: bold;
    margin-left: 5px;
}